 .unilogo
{

 content: url(https://eo4geo.sbg.ac.at/PLUS/Sci_Wri/PLUS_logo.jpg);
top:0;
  background: #293133;
  background-color: #293133;
  
  	z-index: -1;
  position: absolute;
        top: 0%;
        right: 0%;
 
 
	justify-content: left;

}
